.wrapper-slider {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;

  &__title {
    display: flex;
    max-width: 1396px;
    justify-content: start;
    margin-left: 106px;
    .title-navigation {
      display: flex;
      align-items: end;
      .nav-link {
        cursor: pointer;
        user-select: none;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        text-decoration: none;
        border-bottom: 1px dashed #535658; 
        margin: 0 25px;
        color: #535658;
        transition: .3s ease;

        &:last-child {
          margin: 0;
        }
      }
      .active-link {
        user-select: none;
        border-bottom: 0;
        color: #000;
        font-weight: 700;
        font-size: 34px;
        line-height: 40px;
        transition: .3s ease;
      }
    }
  }

  &__slider {
    display: flex;
    margin-top: 38px;
    width: 100%;
  }

  &__slider-line {
    display: flex;
    position: relative;
    transition: .3s ease;
    height: 100%;

    .slider-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 10px;
      border-radius: 5px;
      border: 1px solid #ECF0F4;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      .img-container {
        display: flex;
        position: relative;
        img {
          width: 100%;
        }
        .mark-container {
          display: flex;
          flex-direction: column;
          position: absolute;
          right: 20px;
          top: 20px;
          .mark {
            cursor: pointer;
            user-select: none;
            display: flex;
            justify-content: center;
            background: #fff;
            border-radius: 50px;
            transition: .6s ease;
            img {
              padding: 7px;
            }
            &:first-child {
              margin-bottom: 5px;
            }
          }
          .favorites {
            &:hover {
              background: rgb(255, 162, 162);
              transition: .6s ease;
            }
          }
          .scales {
            &:hover {
              background: rgb(185, 201, 255);
              transition: .6s ease;
            }
          }
        }
      }
      .image-slider {
        display: flex;
        position: relative;
        max-width: 332px;
        overflow: hidden;
        min-width: 0;
        &__wrapper {
          display: flex;
        }
        &__image {
          width: 100%;
          img {
            width: 100%;
          }
        }

        .swiper-pagination {
          margin-bottom: 10px;
          .swiper-pagination-bullet {
            width: 20px;
            height: 2px;
            background-color: #F1D264;
          }
        }
        //Фракция
        .swiper-pagination-fraction {
          color: #fff;
        }
        //Прогрессбар
        .swiper-pagination-pogressbar-fill {
          background-color: #fff;
        }

        .mark-container {
          display: flex;
          flex-direction: column;
          position: absolute;
          right: 20px;
          top: 20px;
          z-index: 10;
          .mark {
            cursor: pointer;
            user-select: none;
            display: flex;
            justify-content: center;
            background: #fff;
            border-radius: 50px;
            transition: .6s ease;
            img {
              padding: 7px;
            }
            &:first-child {
              margin-bottom: 5px;
            }
          }
          .favorites {
            &:hover {
              background: rgb(255, 162, 162);
              transition: .6s ease;
            }
          }
          .scales {
            &:hover {
              background: rgb(185, 201, 255);
              transition: .6s ease;
            }
          }
        }
      }


      .card-text {
        user-select: none;
        display: flex;
        max-width: 260px;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin:10px 5px 5px 0;
      }

      .card-price {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .new {
          user-select: none;
          font-weight: 700;
          font-size: 20px;
          line-height: 22px;
        }
        .old {
          user-select: none;
          text-decoration: line-through;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          color: #8D9295;
          margin-left: 10px;
        }
      }

      .card-finished {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;

        .counter-wrapper {
          border: 1px solid #ECF0F4;
          border-radius: 5px;
          margin-right: 10px;

          .counter {
            display: flex;
            align-items: center;
            align-self: center;
            margin: 10px 5px;

            .btn-counter {
              display: flex;
              align-self: center;
              background: transparent;
              border: 0;
            }

            .minus {
              cursor: pointer;
              padding: 14px 9px;
            }

            .plus {
              cursor: pointer;
              padding: 9px;
            }

            .num {
              margin: 0 11px;
            }

            .counter__input {
              display: flex;

              input {
                font-family: 'Rubik';
                display: flex;
                max-width: 30px;
                text-align: center;
                border: 0;
                background: transparent;
              }
            }
          }
        }

        .basket {
          cursor: pointer;
          display: flex;
          align-items: center;
          padding: 15px 35px;
          background: #F1D264;
          border-radius: 5px;
          border: 0;
          transition: .4s ease;
          &:hover {
            background: #dabe59;
            transition: .4s ease;
          }
          img {
            margin-right: 12px;
          }
          .text {
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
          }
        }
      }
    }
  }
}

.btn-slider {
  cursor: pointer;
  display: flex;
  position: absolute;
  align-self: center;
  user-select: none;
  border-radius: 5px;
  border: 1px solid #ECF0F4;
  background: transparent;
  transition: .3s ease;

  &:hover {
    background: #ECF0F4;
    transition: .3s ease;
  }
}

.prev {
  left: 20px;
  padding: 11px 17px 10px 14px;
}

.next {
  right: 20px;
  padding: 11px 14px 10px 17px;
}

.swiper-button-prev::after, 
  .swiper-button-next::after {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 44px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #ECF0F4;
    color: #000;
    font-size: 21px;
    z-index: 10;
  }